body{
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: url("../images/Top/background.jpg");
}
@media screen and (min-width:0px){
  .contents{
    padding-top: 240px;
  }
  .link{
    top: -250px;
  }
  .content_item{
    width: 100%;
  }
  .input_field > .name{
    width: 100%;
  }
  .input_field > .e-mail{
    width: 100%;
  }
}
@media screen and (min-width:554px){
  .contents{
    padding-top: 175px;
  }
  .link{
    top: -185px;
  }
}
@media screen and (min-width:555px){
  .contents{
    padding-top: 170px;
  }
  .link{
    top: -180px;
  }
}
@media screen and (min-width:683px){
  .contents{
    padding-top: 145px;
  }
  .link{
    top: -155px;
  }
  .content_item{
    width: 600px;
    margin: 0 auto;
  }
  .content_profile{
    display: flex;
  }
  .works{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .input_field{
    display: flex;
  }
  .input_field > .name{
    width: 50%;
    margin-right: 10px;
  }
  .input_field > .e-mail{
    width: 50%;
    margin-left: 10px;
  }
}
@media screen and (min-width:811px){
  .contents{
    padding-top: 120px;
  }
  .link{
    top: -130px;
  }
}
.site-header{
  background: #fff;
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: calc(100% - 56px);
  box-shadow: 2px -2px 4px -2px gray inset;
  padding: 10px 20px;
  z-index: 1;
}
.contents{
  width: 100%;
}
.link{
  position: relative;
  display: block;
}
.site-logo{
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-logo img{
  width: 100%;
}
.gnav__menu{
  display: flex;
  padding: 10px;
}
.gnav__menu__item{
  margin-left: 30px;
  padding: 10px;
}
.gnav__menu__item a{
  color: #333;
  text-decoration: none;
}
.content_backcolor{
  display: block;
  background-color: rgba(204,255,204,0.5);
  padding-top: 10px;
  padding-bottom: 50px;
}
.content_nobackcolor{
  display: block;
  padding-top: 10px;
  padding-bottom: 50px;
}
.contents h1{
  font-size: 50px;
  font-family: 'Kaushan Script', cursive;
  text-align: center;
}
.content_text{
  line-height: 1.8;
  text-align: center;
  margin:  0 auto;
}
.content_top{
  justify-content: center;
  margin: 0 auto;
}
.top_menu{
  line-height: 2;
  width: 100px;
  text-align: left;
  background: url(../images/Top/cork-board.png);
  background-color:rgba(255,255,255,0.7);
  background-blend-mode:lighten;
  border: 2px solid;
  border-radius: 8px;
  padding: 10px 40px;
  margin: auto;
  margin-bottom: 16px;
}
.top_menu_item{
  list-style-type : none;
  border-top:1px solid #ffffff;
  border-bottom:1px solid #753900;
}
.top_menu_item a{
  color: rgb(51, 51, 51);
  text-decoration: none;
}
.top_menu_item:first-child{
  border-top: 0px;
}
.top_menu_item:last-child{
  border-bottom: 0px;
}
.content_profile{
  justify-content: center;
  margin: 0 auto;
}
.profile_img{
  height: auto;
  width: 40%;
  text-align: right;
  margin:  0 auto;
  margin-right: 0;
}
.profile_img img{
  height: auto;
  width: 100%;
}
.content_profile > .content_text{
  width: 60%;
  text-align: left;
}
.content_text > h2{
  font-size: 17px;
  margin-top: 0;
  margin-bottom: 0;
}
.content_text > p{
  margin-top: 0;
}
.content_works{
  margin: 0 auto;
}
.content_works h2{
  text-align: center;
}
.works::before{
  content: "";
  width: 180px;
  order: 1;
}
.works::after{
  content: "";
  width: 180px;
}
.work_item{
  width: 180px;
}
.work_item > a > img{
  width: 100%;
  height: auto;
  border: 2px solid;
}
.work_item > p{
  text-align: center;
  margin-top: 0px;
}
.img_or_mov{
  width: 500px;
  text-align: center;
  margin: 0 auto;
  padding: 5px 0;
}
.mov_line{
  padding: 0 20px 20px;
  margin-bottom: 20px;
  border-bottom: double 3px #333;
}
.img_or_mov img{
  width: 100%;
}
.img_or_mov video{
  width: 100%;
}
.content_item > .content_text{
  text-align: left;
}
.content_skills{
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.content_skills > .content_text{
  text-align: left;
}
.skill_reference{
  border: 1px dashed;
  margin: auto;
  margin-bottom: 16px;
  width: 340px;
}
.skill_reference > ol{
  font-size: 14px;
  text-align: left;
}
.skills{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}
.skills::before{
  content: "";
  width: 170px;
  padding: 10px;
  order: 1;
}
.skills::after{
  content: "";
  width: 170px;
  padding: 10px;
}
.skill_item{
  width: 170px;
  display: flex;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 8px;
  padding: 10px;
  margin: 5px 0;
}
.skill_logo{
  width: 30%;
  display: flex;
  margin: auto;
}
.skill_logo > img{
  height: auto;
  width: 100%;
}
.skill_level{
  position: relative;
  width: 50%;
  margin: auto;
}
.skill_level > .level4{
  border: 2px solid #333;
  border-radius: 30%;
  width: 90%;
  height: 5px;
  margin: 5px auto 5px;
}
.skill_level > .level3{
  border: 2px solid #333;
  border-radius: 30%;
  width: 65%;
  height: 5px;
  margin: 5px auto 5px;
}
.skill_level > .level2{
  border: 2px solid #333;
  border-radius: 30%;
  width: 40%;
  height: 5px;
  margin: 5px auto 5px;
}
.skill_level > .level1{
  border: 2px solid #333;
  border-radius: 30%;
  width: 15%;
  height: 5px;
  margin: 5px auto 5px;
}
.skill_level > .ok{
  background: rgba(255,204,255,1);
}
.skill_level > p{
  position: absolute;
  top: 35px;
  left: 65px;
  font-size: 10px;
  width: 30px;
}
.content_contact{
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.content_contact > .content_text{
  text-align: left;
}
form{
  display: block;
  margin: 0 auto;
}
.input_field{
  width: 100%;
  text-align: left;
}
.input_field p{
  border-bottom: 1px solid;
  margin-top: 5px;
  margin-bottom: 5px;
}
.input_field > .comment{
  width: 100%;
}
.input_field .hidden_caution{
  display: none;
  color: red;
  border-bottom: none;
  margin: 0;
}
input{
  height: 50px;
  width: 100%;
  box-sizing: border-box;
}
textarea{
  display: block;
  margin: 0;
  height: 150px;
  width: 100%;
  box-sizing: border-box;
}
form > .button{
  background: rgba(204,255,204,1);
  font-size: 15px;
  height: 40px;
  width: 80px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}
.site-footer{
  background: #333;
  padding: 20px 0;
}
.copyright{
  color: #fff;
  font-size: 12px;
  text-align: center;
}