body{
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: url("../images/background.jpg");
}
@media screen and (min-width:0px){
  .contents{
    padding-top: 240px;
  }
  .link{
    top: -250px;
  }
}
@media screen and (min-width:554px){
  .contents{
    padding-top: 175px;
  }
  .link{
    top: -185px;
  }
}
@media screen and (min-width:555px){
  .site-header{
    padding: 0 20px;
  }
  .contents{
    padding-top: 170px;
  }
  .link{
    top: -180px;
  }
}
@media screen and (min-width:683px){
  .contents{
    padding-top: 145px;
  }
  .link{
    top: -155px;
  }
}
@media screen and (min-width:811px){
  .contents{
    padding-top: 120px;
  }
  .link{
    top: -130px;
  }
}
.site-header{
  background: #fff;
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: calc(100% - 56px);
  box-shadow: 2px -2px 4px -2px gray inset;
  padding: 10px 20px;
}
.contents{
  margin: 0 auto;
  width: 100%;
}
.link{
  position: relative;
  display: block;
}
.site-logo{
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-logo img{
  width: 100%;
}
.gnav__menu{
  display: flex;
  padding: 10px;
}
.gnav__menu__item{
  margin-left: 30px;
  padding: 10px;
}
.gnav__menu__item a{
  color: #333;
  text-decoration: none;
}
.content_backcolor{
  display: block;
  background-color: rgba(204,255,204,0.5);
  padding-top: 10px;
  padding-bottom: 50px;
}
.content_nobackcolor{
  display: block;
  padding-top: 10px;
  padding-bottom: 50px;
}
.contents h1{
  font-size: 50px;
  font-family: 'Kaushan Script', cursive;
  text-align: center;
}
.content_text{
  line-height: 1.8;
  text-align: left;
  margin:  0 auto;
}
.content_top{
  display: block;
  width: 600px;
  justify-content: center;
  margin: 0 auto;
}
.content_top > .content_text{
  text-align: center;
}
.top_menu{
  line-height: 2;
  width: 100px;
  text-align: left;
  background: url(../images/cork-board.png);
  background-color:rgba(255,255,255,0.7);
  background-blend-mode:lighten;
  border: 2px solid;
  border-radius: 8px;
  padding: 10px 40px;
  margin: auto;
}
.top_menu_item{
  list-style-type : none;
  border-top:1px solid #ffffff;
  border-bottom:1px solid #753900;
}
.top_menu_item a{
  color: rgb(51, 51, 51);
  text-decoration: none;
}
.top_menu_item:first-child{
  border-top: 0px;
}
.top_menu_item:last-child{
  border-bottom: 0px;
}
.content_profile{
  display: flex;
  width: 600px;
  justify-content: center;
  margin: 0 auto;
}
.profile_img{
  height: auto;
  width: 40%;
  text-align: right;
  margin:  0 auto;
  margin-right: 0;
}
.profile_img img{
  height: auto;
  width: 100%;
}
.content_profile > .content_text{
  width: 60%;
  margin-left: 0;
}
.content_text > h2{
  font-size: 17px;
  margin-top: 0;
  margin-bottom: 0;
}
.content_text > p{
  margin-top: 0;
}
.content_works{
  display: flex;
  width: 50%;
  justify-content: center;
  margin: 0 auto;
}
.content_skills{
  display: flex;
  width: 50%;
  justify-content: center;
  margin: 0 auto;
}
.content_contact{
  width: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
form{
  display: block;
  margin: 0 auto;
}
.input_field{
  display: flex;
  width: 100%;
  text-align: left;
}
.input_field p{
  border-bottom: 1px solid;
  margin-top: 5px;
  margin-bottom: 5px;
}
.input_field > .name{
  width: 50%;
  margin-right: 10px;
}
.input_field > .e-mail{
  width: 50%;
  margin-left: 10px;
}
.input_field > .comment{
  width: 100%;
}
.input_field .hidden_caution{
  display: none;
  color: red;
  border-bottom: none;
  margin: 0;
}
input{
  height: 50px;
  width: 100%;
  box-sizing: border-box;
}
textarea{
  display: block;
  margin: 0;
  height: 150px;
  width: 100%;
  box-sizing: border-box;
}
form > .button{
  background: rgba(204,255,204,1);
  font-size: 15px;
  height: 40px;
  width: 80px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}
.site-footer{
  background: #333;
  padding: 20px 0;
}
.copyright{
  color: #fff;
  font-size: 12px;
  text-align: center;
}